*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.Hero__Section{
    background: url(images/heroSectionBackground.png);
    background-size: cover;
    background-position: center;
    color: white;

    min-height: 60vh;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 65px;
    padding: 16px 48px ;
}

.navbar a{
    color: white;
    
    text-decoration: none;
}

.navbar__Menu_Container{
    display: flex;
    gap: 18px;
}

.navbar__Menu_Container .user_icon{
    height: 25px;
    width: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid white;
    border-radius: 100%;

    display: none;
}

.Hero__Section_Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;

    height: calc(60vh - 65px);
}

.Hero__Section_Logo{
    width: 200px;
    height: auto;
}

.Hero__Section_Title{
    text-align: center;
    font-size: 30px;
    font-weight: 350;
}

.Hero__Section_input_Container{
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
    width: 50%;
    border-radius: 10px;
}

.input_Container_Location,
.input_Container_Search{
    padding: 5px;
    border: none;
    outline: none;
}

.input_Container_Location{
    width: 35%;
    border-right: 2px solid #e0e0e0;
}

.input_Container_Search{
    width: 65%;
}


.locationicon, .searchicon{
    padding: 5px;
    font-size: 20px;
    color: #8b8b8b;
}
.locationicon:active, .searchicon:active{
    color: red;
}

/* when the screen size is 0-600 */
@media only screen and (max-width:640px){
    .navbar__Menu_Container .user_icon{
        display: flex;
    }
    .link{
        display: none;
    }
    .Hero__Section{
        min-height: 80vh;
    }
    .Hero__Section_Container{
        flex-direction: column;
        background-color: transparent;
        width: 100%;
    }
    .input_Container_Location,
    .input_Container_Search{
        padding: 18px;
        border-radius: 10px;
        width: 98%;
    }

    .Hero__Section_Container{
        height: calc(80vh - 40px);
    }

    .Hero__Section_Title{
        font-size: 18px;
        width: 95%;
    }
}